@font-face {
  font-family: "Aharoni";
  src: url("/resources/fonts/ahronbd.ttf");
}

@font-face {
  font-family: "Couture";
  src: local("/resources/fonts/couture-bld.otf");
}

@font-face {
  font-family: "Couture";
  font-style: italic;
  src: url("/resources/fonts/couture-bldit.otf");
}

@font-face {
  font-family: "Leelawadee";
  src: url("/resources/fonts/leelawad.ttf");
}

@font-face {
  font-family: "Leelawadee";
  font-weight: bold;
  src: url("/resources/fonts/leelawdb.ttf");
}